<!--Experiment pagination inclusion-->
<!--functionality stored at public/js/experimentPagination-->
<div class="container mt-5" id="experimentSelectionContainer">
    <div class="row mx-auto">
        <div class="col-md-6 mx-auto">

            <section class="general-interfaceContainer experimentSelection">
                <h1>Select an Experiment</h1>

                <hr>
                
                <article class="general-interface" id="selectExperimentInterface">

                    <ul class="list-group" id="experimentList">
                        <li class="list-group-item">Sorry, we couldn't retrieve the</li>                     
                    </ul>
                    <hr>

                    <button class="btn btn-secondary d-none"id="prevPage">prevPage</button>
                    <button class="btn btn-primary"id="nextPage">nextPage</button>

                </article>

                <article class="general-interface" id="experimentDetailsInterface">
                    
                    <p>Experiment: <span class="text-secondary"id="experimentName"></span></p>
                    <p>SetUp: <span class="text-secondary"id="experimentName">--TODO: Implement "display setup" functionality--</span></p>

                    <hr>
                    <div class="general-exitOptions">
                        <div><button class="btn btn-danger"  id="backToSelect">Back</button></div>
                        <div><button class="btn btn-success" id="runExperiment">Confirm</button></div>
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>

<!--Experiment pagination concludes here-->
