<!--Experiment pagination inclusion-->
<!--functionality stored at public/js/experimentPagination-->
<div class="container mt-5" id="experimentSelectionContainer">
    <div class="row mx-auto">
        <div class="col-md-6 mx-auto">
            <section class="experimentSelection">
                <h1>Select an Experiment</h1>

                <article id="selectExperimentInterface">
                    <ul class="list-group" id="experimentList">
                        <li class="list-group-item">Dummy experiment A</li> <!--Dummy element--> 
                        <li class="list-group-item">Dummy experiment B</li> <!--Dummy element--> 
                    </ul>

                    <hr>

                    <button class="btn btn-secondary d-none"id="prevPage">prevPage</button>
                    <button class="btn btn-primary"id="nextPage">nextPage</button>

                </article>

                <article id="experimentDetailsInterface">
                    
                    <p>Experiment: <span class="text-secondary"id="experimentName"></span></p>
                    <p>SetUp: <span class="text-secondary"id="experimentName">--TODO: Implement "display setup" functionality--</span></p>

                    <hr>

                    <button class="btn btn-danger"  id="backToSelect">Back</button>
                    <button class="btn btn-success" id="runExperiment">Run Experiment</button>
                </article>
            </section>
        </div>
    </div>
</div>

<!--Experiment pagination concludes here-->
