
// canvas and simulation UI

canvas
    background-color: black
    width: 100%


.generationCounter
    position: absolute
    color: white
    margin: 50px
    font-family: Arial, Helvetica, sans-serif
    font-size: 20px


// Experiment setup form

form
    border: solid #28a745 5px
    border-radius: 10px

    #buttons
        display: flex
        flex-wrap: wrap
        justify-content: center

        div
            margin: 0 10px
            width: auto
            min-width: 150px
            button
                width: auto
    hr 
        height: 3px
        border-radius: 15px


