<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <p class="generationCounter">Generation: 1</p>
    <canvas width="3000px" height="1500px"></canvas>
    
    <!-- Modules -->

    <script src="/js/utils/Vector2D.js"></script>
    <script src="/js/framework/Service.js"></script>
    <script src="/js/services/Renderer.js"></script>
    <script src="/js/services/Motion.js"></script>
    <script src="/js/services/AgentBehaviour.js"></script>
    <script src="/js/services/Generations.js"></script>
    <script src="/js/services/SummaryMaker.js"></script>

    <!--utils-->

    <script src="/js/utils/TreeObject.js"></script>
    <script src="/js/utils/Ecosystem.js"></script>


    <!-- Integration -->

    <script src="/js/framework/AgentPool.js"></script>
    <script src="/js/framework/CollectionManager.js"></script>
    <script src="/js/framework/ServiceManager.js"></script>
    <script src="/js/framework/EventManager.js"></script>
    <script src="/js/framework/World.js"></script>

    <!--Init World-->

    <script src="/js/init/initConstants.js"></script>
    <script src="/js/init/initCollections.js"></script>
    <script src="/js/init/initAgentTypes.js"></script>
    <script src="/js/init/initServices.js"></script>
    <SCRipt src="/js/init/initEvents.js"></SCRipt>
    <script src="/js/init/index.js"></script>

</body>
</html>