<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <canvas width="3000px" height="1500px"></canvas>
    
    <!-- Modules -->

    <script src="/js/libraries/Vector2D.js"></script>
    <script src="/js/services/Service.js"></script>
    <script src="/js/services/Renderer.js"></script>
    <script src="/js/services/Motion.js"></script>
    <script src="/js/services/AgentBehaviour.js"></script>

    <!--Elements-->

    <script src="/js/libraries/TreeObject.js"></script>
    <script src="/js/Agent.js"></script>

    <!-- Integration -->

    <script src="/js/AgentPool.js"></script>
    <script src="/js/World.js"></script>

    <!--Init World-->

    <script src="/js/init/initConstants.js"></script>
    <script src="/js/init/initCollections.js"></script>
    <script src="/js/init/initAgentTypes.js"></script>
    <script src="/js/init/initServices.js"></script>
    <script src="/js/init/index.js"></script>

</body>
</html>