<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <canvas width="3000px" height="1500px"></canvas>

    <!-- Variables and setup -->

    <script src="/js/canvas.js"></script>
    
    <!-- Modules -->

    <script src="/js/services/Service.js"></script>
    <script src="/js/services/Renderer.js"></script>
    <script src="/js/services/AgentBehaviour.js"></script>

    <!--Elements-->

    <script src="/js/Agent.js"></script>

    <!-- Integration -->

    <script src="/js/World.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>