<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/runExperiment/style.css" rel="stylesheet">
    <link href="/css/libraries/bootstrap-5.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="canvasContainer" id="canvasContainer">
        <p id="generationCounter">Generation: 1</p>
        <canvas width="3000px" height="1500px"></canvas>
    </div>

    <div class="container mt-5" id="experimentSelectionContainer">
        <div class="row mx-auto">
            <div class="col-md-6 mx-auto">
                <section class="experimentSelection">
                    <h1>Select an Experiment</h1>

                    <article id="selectExperimentInterface">
                        <ul class="list-group" id="experimentList">
                            <li class="list-group-item">ExperimentA</li> <!--Dummy element--> 
                            <li class="list-group-item">ExperimentB</li> <!--Dummy element--> 
                        </ul>
    
                        <hr>
    
                        <button class="btn btn-secondary d-none"id="prevPage">prevPage</button>
                        <button class="btn btn-primary"id="nextPage">nextPage</button>
    
                    </article>

                    <article id="experimentDetailsInterface">
                        
                        <p>Experiment: <span class="text-secondary"id="experimentName"></span></p>
                        <p>SetUp: <span class="text-secondary"id="experimentName">--TODO: Implement "display setup" functionality--</span></p>

                        <hr>

                        <button class="btn btn-danger"  id="backToSelect">Back</button>
                        <button class="btn btn-success" id="runExperiment">Run Experiment</button>
                    </article>
                </section>
            </div>
        </div>
    </div>

    <script src="/js/libraries/jquery-3.6.1.min.js"></script>
    <script src="/js/libraries/bootstrap-5.min.js"></script>


    <!--PRE SIMULATION-->
    
    <script src="/js/runExperiment/preRun/init.js"></script>
    <script src="/js/runExperiment/preRun/getExperimentList.js"></script>
    <script src="/js/runExperiment/preRun/selectExperiment.js"></script>


    <!--SIMULATION-->
   
    <script src="/js/runExperiment/simulator/layers/framework/Service.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/AgentPool.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/CollectionManager.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/ServiceManager.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/EventManager.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/World.js"></script>

    <!-- Modules -->

    <script src="/js/runExperiment/simulator/utils/Vector2D.js"></script>
    <script src="/js/runExperiment/simulator/services/Renderer.js"></script>
    <script src="/js/runExperiment/simulator/services/Motion.js"></script>
    <script src="/js/runExperiment/simulator/services/AgentBehaviour.js"></script>
    <script src="/js/runExperiment/simulator/services/Generations.js"></script>
    <script src="/js/runExperiment/simulator/services/Statistics.js"></script>

    <!--utils-->

    <script src="/js/runExperiment/simulator/utils/TreeObject.js"></script>

    <!--Framework upper layers-->

    <script src="/js/runExperiment/simulator/layers/Ecosystem/Mutator.js"></script>
    <script src="/js/runExperiment/simulator/layers/Ecosystem/OrganismBuilder.js"></script>
    <script src="/js/runExperiment/simulator/layers/Ecosystem/Ecosystem.js"></script>

    <!--Init World-->

    <script src="/js/runExperiment/simulator/init/initConstants.js"></script>
    <script src="/js/runExperiment/simulator/init/initCollections.js"></script>
    <script src="/js/runExperiment/simulator/init/initAgentTypes.js"></script>
    <script src="/js/runExperiment/simulator/init/initServices.js"></script>
    <SCRipt src="/js/runExperiment/simulator/init/initEvents.js"></SCRipt>
    <script src="/js/runExperiment/simulator/init/index.js"></script>

</body>
</html>