<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/runExperiment/style.css" rel="stylesheet">
    <link href="/css/experimentPagination/style.css" rel="stylesheet">
    <link href="/css/libraries/bootstrap/bootstrap-5.min.css" rel="stylesheet">
    <link href="/css/libraries/general/general.css"  rel="stylesheet" >

    <title>Document</title>
</head>
<body>

    <div class="canvasContainer" id="canvasContainer">
        <p id="generationCounter">Generation: 1</p>
        <canvas width="3000px" height="1500px"></canvas>
    </div>

    <%- include('partials/experimentPagination.ejs') %>

    <!--TODO: transform script tag heap into ESM modules to be included as a single modular script tag-->

    <!--Libraries-->

    <script src="/js/libraries/jquery/jquery-3.6.1.min.js"></script>
    <script src="/js/libraries/bootstrap/bootstrap-5.min.js"></script>

    <!--experiment pagination-->

    <script type="module" src="/js/experimentPagination/experimentPagination.js"></script>

    <!--Framework-->
   
    <script src="/js/runExperiment/simulator/layers/framework/Service.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/AgentPool.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/CollectionManager.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/ServiceManager.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/EventManager.js"></script>
    <script src="/js/runExperiment/simulator/layers/framework/World.js"></script>

    <!-- Modules -->

    <script src="/js/runExperiment/simulator/utils/Vector2D.js"></script>
    <script src="/js/runExperiment/simulator/services/Renderer.js"></script>
    <script src="/js/runExperiment/simulator/services/Motion.js"></script>
    <script src="/js/runExperiment/simulator/services/Organism/OrganismTargeter.js"></script>
    <script src="/js/runExperiment/simulator/services/Organism/OrganismBehaviour.js"></script>
    <script src="/js/runExperiment/simulator/services/Organism/OrganismPurger.js"></script>
    <script src="/js/runExperiment/simulator/services/Organism/Organism.js"></script>
    <script src="/js/runExperiment/simulator/services/Generations.js"></script>
    <script src="/js/runExperiment/simulator/services/Statistics.js"></script>
    <script src="/js/runExperiment/simulator/services/DataSend.js"></script>

    <!--utils-->

    <script src="/js/runExperiment/simulator/utils/TreeObject.js"></script>

    <!--Framework upper layers-->

    <script src="/js/runExperiment/simulator/layers/Ecosystem/Mutator.js"></script>
    <script src="/js/runExperiment/simulator/layers/Ecosystem/OrganismBuilder.js"></script>
    <script src="/js/runExperiment/simulator/layers/Ecosystem/Ecosystem.js"></script>

    <!--Init World-->

    <script src="/js/runExperiment/simulator/init/Init.js"></script>
    <script src="/js/runExperiment/simulator/init/initCollections.js"></script>
    <script src="/js/runExperiment/simulator/init/initAgentTypes.js"></script>
    <script src="/js/runExperiment/simulator/init/initServices.js"></script>
    <script src="/js/runExperiment/simulator/init/initEvents.js"></script>

    <!--Initialization triggerer-->

    <script src="/js/runExperiment/experimentChosenHandler.js"></script>

</body>
</html>