<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/libraries/bootstrap/bootstrap-5.min.css" rel="stylesheet">
    <link href="/css/setUpExperiment/style.css"   rel="stylesheet">
    <link rel="stylesheet" href="/css/libraries/general/general.css">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="cointainer py-5">
        <section class="row mx-auto">
            <div class="col-md-6 mx-auto">
                <form class="p-5" id="setUpForm">
                        <h1 class=""><i class="fa fa-solid fa-flask"></i> SetUp Experiment</h1>
 . 
                        <hr class="bg-success">
                        
                        <input class="form-control" type="text" name="experimentName" placeholder="Experiment name">

                        <hr class="bg-success my-3">

                        <div id="buttons">
                            <button class="btn btn-outline-success mb-3" id="addSpecieButton"><i class="fa fa-regular fa-life-ring"></i> Create new specie </button>
                            <button class="btn btn-outline-primary mb-3" id="addMutationButton"><i class="fa fa-light fa-dice"></i> Create new mutation</button>
                            <button class="btn btn-outline-danger mb-3"  id="setRelationshipButton"><i class="fa fa-solid fa-skull-crossbones"></i> Create new relationship</button>
                        </div>

                        <!--Specie Interface-->

                        <article class="border border-success p-3 d-none" id="addSpecieInterface">

                            <input name="specieName" class="form-control mb-3" type="text" placeholder="Specie Name">

                            <label> <i class="fa fa-solid fa-bolt"></i> Specie Speed (min|max)</label>

                            <div class="cointainer">
                                <div class="row">
                                    <div class="col-sm-6 mb-2">
                                        <input class="form-control" name="speedMinValue" type="number" value="0" placeholder="Min value">
                                    </div>
                                    <div class="col-sm-6 mb-2">
                                        <input class="form-control" name="speedMaxValue" type="number" value="5" placeholder="Max value">
                                    </div>
                                </div>
                            </div>

                            <label> <i class="fa fa-solid fa-satellite-dish"></i> Specie Sensitivity (min|max)</label>

                            <div class="cointainer">
                                <div class="row">
                                    <div class="col-sm-6 mb-2">
                                        <input class="form-control" name="sensitivityMinValue" type="number" value="0" placeholder="Min value">
                                    </div>
                                    <div class="col-sm-6 mb-2">
                                        <input class="form-control" name="sensitivityMaxValue" type="number" value="50" placeholder="Max value">
                                    </div>
                                </div>
                            </div>
                          
                            <label for="lifeSpan"> <i class="fa fa-solid fa-ruler"></i> LifeSpan </label>
                            <input id="lifeSpan" class="form-control mb-3" name="lifeSpan" type="number" value="3" min="0" max ="100" >


                            <label for="foodFee"> <i class="fa fa-solid fa-carrot"></i> Food Fee </label>
                            <input id="foodFee" class="form-control mb-3" name="foodFee" type="number" value="0" min="0" max ="100" >


                            <label for="initialPop"> <i class="fa fa-solid fa-flag-checkered"></i> Initial Population </label>
                            <input id="initialPop" class="form-control mb-3" name="initialPopulation" type="number"  value="10" min="1" max ="500" >
                            

                            <label for="popLimit"> <i class="fa fa-solid fa-ban"></i> Population Limit </label>
                            <input id="popLimit" class="form-control mb-3" name="populationLimit" type="number" value="100" min="10" max ="2000" >

                            <div class="exitOptions">
                                <div><button class="btn btn-success" id="executeAddSpecie">Add Specie</button></div>
                                <div><button class="btn btn-danger ml-3" id="cancelAddSpecie"> Cancel</button></div>
                            </div>
                        </article>
                               
                        <!--Mutation Interface-->

                        <article class="border border-success p-3 d-none" id="addMutationInterface">

                            <select class="form-control" name="specieToBeMutated" id="specieToBeMutated"></select>

                            <label> Specie Speed </label>


                            <div class="cointainer">
                                <div class="row">
                                    <div class="col-sm-4 mb-2"><input class="form-control" name="speedChangeProbability" type="number" placeholder="Probability"></div>
                                    <div class="col-sm-4 mb-2"><input class="form-control" name="speedMinChange" type="number" placeholder="Min change"></div>
                                    <div class="col-sm-4 mb-2"><input class="form-control" name="speedMaxChange" type="number" placeholder="Max change"></div>
                                </div>
                            </div>

                            <label> Specie Sensitivity </label>

                            <div class="cointainer">
                                <div class="row">
                                    <div class="col-sm-4 mb-2"><input class="form-control" name="sensitivityChangeProbability" type="number" placeholder="Probability"></div>
                                    <div class="col-sm-4 mb-2"><input class="form-control" name="sensitivityMinChange" type="number" placeholder="Min change"></div>
                                    <div class="col-sm-4 mb-3"><input class="form-control" name="sensitivityMaxChange" type="number" placeholder="Max change"></div>
                                </div>
                            </div>

                            <div class="exitOptions">
                                <div><button class="btn btn-success" id="executeSetMutations">Set Mutations</button> </div>
                                <div><button class="btn btn-danger ml-3" id="cancelSetMutations"> Cancel</button> </div>
                            </div>

                        </article>

                        <!--Relationship Interface-->

                        <article class="border border-success p-3 d-none" id="setRelationshipInterface"> 
                            
                            <label for="prey"> Prey specie </label>
                            <select class="form-control mb-2" name="prey" id="prey"></select>

                            <label for="predator"> Predator specie </label>
                            <select class="form-control mb-3" name="predator" id="predator"></select>

                            <div class="exitOptions">
                                <div><button class="btn btn-success" id="executeSetRelationship">Set Relationships</button></div>
                                <div><button class="btn btn-danger ml-3" id="cancelSetRelationship">Cancel</button></div>
                            </div>
                           
                        </article>                       

                        <hr class="bg-secondary">

                        <article class="setupDetails" id="setupDetails">

                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingSpecies">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecies" aria-expanded="true" aria-controls="collapseSpecies">
                                        Species
                                    </button>
                                  </h2>
                                  <div id="collapseSpecies" class="overflow-scroll accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="mx-auto table table-responsive table-striped" id="speciesTable">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Speed</th>
                                                    <th>Sensitivity</th>
                                                    <th>FoodFee</th>
                                                    <th>InitialPop</th>
                                                    <th>popLimit</th>
                                                </tr>
                                            </thead>
                                            <tbody id="speciesTableBody"></tbody>
                                        </table>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingMutations">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMutations" aria-expanded="false" aria-controls="collapseMutations">
                                      Mutations
                                    </button>
                                  </h2>
                                  <div id="collapseMutations" class="overflow-scroll accordion-collapse collapse" aria-labelledby="headingMutations" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="mx-auto table table-responsive table-stripped">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>probability</th>
                                                    <th>speedChange</th>
                                                    <th>probability</th>
                                                    <th>SensitivityChange</th>
                                                </tr>
                                            </thead>
                                            <tbody id="mutationsTable"></tbody>
                                        </table>
            
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Relationships
                                    </button>
                                  </h2>
                                  <div id="collapseThree" class="overflow-scroll accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <table class="" id="relationshipTable"></table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    </article>

                    <hr class="bg-secondary">

                    <button class="btn btn-outline-success block" id="createExperimentBtn">Create experiment</button>

                </form>
            </div>
        </section>  
    </div>

    <!--Libraries-->

    <script src="/js/libraries/jquery/jquery-3.6.1.min.js"></script>
    <script src="/js/libraries/bootstrap/bootstrap-5.min.js"></script>

    <!---->
    
    <script src="/js/setUpExperiment/animations.js"></script>
    <script src="/js/setUpExperiment/buildConfigJSON.js"></script>
    <script src="/js/setUpExperiment/visualizeConfig.js"></script>
    <script src="/js/setUpExperiment/sendConfig.js"></script>

</body>
</html>